.manage {
    background-color: #c4dbf6;
    height: 100vh;
}

.Mange-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px 0;
}

.Mange-buttons button {
    margin: 0 30px;
    padding: 10px 40px;
    border: none;
    color: #ffffff;
    background-color: rgb(180, 30, 60);
    border-radius: 6px;
    box-shadow: 3px 4px 8px black;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.Mange-buttons button:hover {
    color: #97c2f4;
}

.Mange-buttons button:active {
    box-shadow: 1px 1px 6px black;
    translate: .2rem;
}

.linkedin-buttons {
    display: flex;
    margin: 20px 0;
}

.linkedin-buttons button {
    padding: 0 20px;
    margin: 10px 70px;
    padding: 10px 40px;
    border: none;
    color: #ffffff;
    background-color: rgb(180, 30, 60);
    border-radius: 6px;
    box-shadow: 3px 4px 8px black;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.linkedin-buttons button:hover {
    color: #97c2f4;
}

.linkedin-buttons button:active {
    box-shadow: 1px 1px 6px black;
    translate: .2rem;
}

.search-linkedin {
    margin: 10px 0;
}


/* user */

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    direction: rtl;
    width: 800px;
    border: 2px solid rgb(236, 126, 49);
    border-radius: 20px;
    background-color: #ffffff73;
    padding: 30px 0;
}

.inputs-content {
    display: flex;
}

.rightside {
    display: flex;
    flex-direction: column;
}

.input-row {
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
}

.labels {
    font-size: 16px;
    color: black;
    margin: 0 auto;
    padding: 10px 0;
}

.infoInput {
    margin: 0 20px;
    padding: 10px 10px;
    justify-content: start;
    outline: none;
    border: 1px solid rgb(236, 126, 49);
    border-radius: 10px;
}


/* .password-toggle-icon-manage {
    top: 13px;
    left: 90px;
    padding: 0 40px 0 0px;
    position: relative;
} */

#table {
    margin: 30px 0 0 0;
}

#table {
    border-collapse: collapse;
    width: 70%;
    margin: 30px 0 0 0;
    box-shadow: 10px 10px 30px rgb(244, 77, 77);
}

#table td,
#table th {
    padding: 8px;
    direction: rtl;
    text-align: center;
}

#table tr:nth-child(even) {
    background-color: rgb(236, 180, 191);
}

#table tr:nth-child(odd) {
    background-color: rgb(226, 137, 155);
}

#table tr:hover {
    background-color: rgb(213, 100, 100);
    color: aliceblue;
}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(180, 30, 60);
    color: white;
}

.check-button {
    cursor: pointer;
    outline: none;
}

.user-button {
    margin: 30px 0 0 0;
    width: 220px;
}


/* artifact */

.artifact {
    display: flex;
    direction: rtl;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 800px;
    border: 2px solid rgb(236, 126, 49);
    border-radius: 20px;
    background-color: #ffffff73;
}

.arti-button {
    margin: 30px 0 20px 0;
    width: 220px;
}