@font-face {
    font-family: BKoodak;
    src: url("../../Fonts/BKoodkBd.ttf") format("truetype");
}

.button {
    width: 90px;
    height: 30px;
    background-color: #C3B1E1;
    border-radius: 20px;
    margin: 40px 20px;
    cursor: pointer;
    transition: .2s ease-in-out;
    border: 1px solid #917db1;
    font-family: BKoodak;
}

.submit {
    font-size: larger;
    justify-content: center;
    display: flex;
    padding: 5px 0;
}

.button:hover {
    width: 90px;
    height: 30px;
    background-color: #917db1;
    border-radius: 20px;
}