@font-face {
    font-family: BKoodak;
    src: url("../../Fonts/BKoodkBd.ttf") format("truetype");
}

.button {
    width: 90px;
    height: 30px;
    background-color: #C3B1E1;
    border-radius: 20px;
    margin: 40px 20px;
    cursor: pointer;
    transition: .2s ease-in-out;
    border: 1px solid rgb(219, 91, 45);
    font-family: IranSans;
}

.submit {
    font-size: larger;
    justify-content: center;
    display: flex;
    padding: 5px 0;
}

.button:hover {
    width: 90px;
    height: 30px;
    background-color: rgb(218, 80, 29);
    border-radius: 20px;
}