/* @font-face {
    font-family: BKoodak;
    src: url("../../Fonts/BKoodkBd.ttf") format("truetype");
} */

.button {
    width: 100%;
    height: 30px;
    background-color: rgb(232, 50, 50);
    border-radius: 20px;
    margin: 30px auto;
    cursor: pointer;
    transition: .2s ease-in-out;
    border: 1px solid rgb(211, 82, 82);
    font-family: IranSans;
    color: #ffffff;
}

.submit {
    font-size: larger;
    justify-content: center;
    display: flex;
    padding: 5px 0;
}

.button:hover {
    /* width: 90px; */
    height: 30px;
    background-color: #b23850;
    border-radius: 20px;
}