.circle-outline {
    width: 160px;
    height: 160px;
    background-color: #d4f0f0;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 6px 2px rgb(150, 137, 137);
    transition: .4s ease-in-out;
    cursor: pointer;
}

.circle-inline {
    position: absolute;
    background: #c6dbda;
    border-radius: 50%;
    height: 140px;
    width: 140px;
    transition: .4s ease-in-out;
}

.circle-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    transition: .6s ease-in-out;
}

.circle-title {
    font-family: Btitr;
    margin: 30px 0 0 0;
    transition: .6s ease-in-out;
}

.circle-number {
    font-family: Btitr;
    margin: -30px 0 0 0;
}

.circle-outline:hover {
    width: 190px;
    height: 190px;
    background: #d89b9c;
}

.circle-inline:hover {
    background: #d89b9c;
}

.circle-title:hover {
    color: rgb(255, 255, 255);
    font-size: 23px;
}

.circle-data:hover {
    color: rgb(255, 255, 255);
    font-size: 23px;
    text-decoration: underline;
}