.background-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../Images/login-background.jpg');
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

.auth-side {
    margin: 50px auto;
    width: 350px;
    height: 460px;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 20px 20px 20px 20px;
}

.cards {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    direction: rtl;
}

.logo img {
    height: 100px;
    padding-top: 20px;
}

img {
    border-radius: 20px;
}

.title {
    margin: 0px -70px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: IranSans;
    color: aliceblue;
}

.title span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs {
    margin: 20px 0;
}

.inputs input {
    margin: 10px auto;
    border-radius: 8px;
    border: 1px solid rgb(219, 91, 45);
    outline: none;
    padding: 6px 8px;
}

.labels {
    color: aliceblue;
}

.labels2 {
    color: aliceblue;
    font-family: IranSans;
    width: 100%;
}

.notification {
    height: 0%;
}

.password-input-container {
    position: relative;
    text-align: left;
    align-items: start;
}

.password-toggle-icon {
    position: absolute;
    top: 30px;
    margin: 0 -25px 0 90px;
    z-index: 1;
    transform: translateY(-50%);
    cursor: pointer;
}