    .card-com {
        width: 160px;
        height: 150px;
        background-color: #d6d2c6;
        margin: 10px 10px;
        border-radius: 20px;
        box-shadow: 6px 6px 2px rgb(129, 126, 126);
        transition: .3s ease-out;
        cursor: pointer;
    }
    
    .card-logo {
        display: flex;
        justify-content: center;
        margin: auto;
    }
    
    .card-logo img {
        padding: 25px 0;
        height: 90px;
    }
    
    .card-com:hover {
        scale: 1.1;
        /* height: 160px;
        margin: 20px 0 0 0;
        padding: 20px 0 0 0; */
    }