/* .reports {
    background-color: #c4dbf6;
    height: 100vh;
} */

.reports-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    direction: rtl;
    width: 900px;
    margin: 50px auto;
    border-radius: 20px;
    border: 1.5px solid rgb(180, 30, 60);
    background-color: rgb(236, 180, 191);
}

.reports-div-items {
    display: flex;
    align-items: center;
    margin: 10px 40px;
}

.reports-div-items label {
    margin: 0 20px;
}

.reports-div-items select {
    border: 1.5px solid rgb(180, 30, 60);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px 15px 10px 30px;
    cursor: pointer;
}

.reports-page-button {
    padding: 5px 20px;
    border: none;
    color: #ffffff;
    background-color: rgb(180, 30, 60);
    border-radius: 6px;
    box-shadow: 3px 4px 8px black;
    cursor: pointer;
    transition: .1s ease-in-out;
    margin: 30px auto;
    width: 80px;
}

.reports-page-button:active {
    box-shadow: 1px 1px 6px black;
    translate: .2rem;
}

.reports-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reports-is {
    display: flex;
    flex-direction: row;
}


/* gender */

.reports-content-gen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reports-content img {
    width: 400px;
    margin: 0 20px;
}

.reports-content-gen span:first-child {
    font-size: 50px;
    font-weight: 1000;
}

.reports-content-gen-text {
    font-size: 20px;
}


/* age */

.report-age {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.report-age span:first-child {
    margin: 0 10px;
    width: 200px;
}

.report-age span:last-child {
    font-size: 20px;
    font-weight: 1000;
    margin: 20px 0;
    color: rgb(95, 121, 136);
}


/* crowd */

img.wordWide {
    width: 640px;
}