    .data-showing-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: .5s ease-out;
        padding: 50px 0px;
    }
    
    .data-showing span {
        padding: 5px 40px;
        font-size: large;
        font-weight: 600;
        cursor: pointer;
    }
    
    .data-showing-items:hover {
        color: #b23850;
    }