.modal-content {
    width: 800px;
    height: 500px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    /* background-color: #1C2738; */
    background-color: #becde3;
    transition: all .4s;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
}


/* 
::-webkit-scrollbar {
    width: 8px;
} */

.modal-title {
    margin: 10px 0 0 50px;
    font-size: 30px;
    direction: rtl;
}

.modal-title span:first-child {
    margin: 0px 35px 0 30px;
    color: red;
    cursor: pointer;
}

.modal-title span:first-child:hover {
    margin: 0px 35px 0 30px;
    color: rgb(180, 3, 3);
    cursor: pointer;
}

.modal-city {
    font-size: 30px;
}

.modal-line {
    width: 90%;
    background-color: rgb(15, 16, 16);
    margin: 0 auto;
    padding-top: 2px;
}

.modal-inside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 0;
}

.modal-inside-image {
    margin: 0 0 0 30px;
}

.modal-inside-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.modal-inside-job {
    font-size: 20px;
    font-weight: 1000;
}

.modal-inside-info {
    width: 250px;
    height: 120px;
    background-color: rgb(180, 30, 60);
    border-radius: 8px;
    color: #ffffff;
    direction: rtl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 30px 0 0;
}

.modal-inside-info-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.modal-inside-info-item span {
    padding: 5px 20px;
}

.modal-inside-info-item span a {
    color: #FFFFFF;
}

.modal-inside-info-item span:first-child {
    padding: 0 30px;
}

.modal-fotter {
    width: 50%;
    margin: 0 auto;
    background-color: #82a6dc;
    border-radius: 8px;
}

.modal-fotter-2 {
    width: 50%;
    height: 40px;
    margin: 0 auto;
    /* background-color: #0066ff; */
    background-color: rgb(180, 30, 60);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #ffffff;
}

.modal-fotter a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px 0;
    font-size: 18px;
}

.modal-datas {
    display: flex;
    flex-direction: column;
}

.modal-word-cloud {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 50px 0;
}

.modal-word-cloud span {
    font-size: 20px;
    font-weight: 1000;
    margin: 0px 0 20px 0;
}

.modal-word-cloud img {
    width: 400px;
}

.modal-graph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-graph span {
    font-size: 20px;
    font-weight: 1000;
    margin: 0px 0 20px 0;
}

.modal-graph img {
    width: 400px;
}