 .navbar {
     height: 110px;
     background-color: rgb(180, 30, 60);
     display: flex;
     flex-direction: row;
     position: sticky;
     top: 0;
     z-index: 5;
     box-shadow: 10px 4px 12px black;
 }
 
 .nav-img {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-left: 10px;
 }
 
 .nav-img img {
     height: 70px;
     width: 60px;
     cursor: pointer;
 }
 
 .nav-img span {
     width: 250px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 16px;
     color: #ffffff;
     align-items: center;
     margin: 0px 0 5px 0;
 }
 
 .nav-tools {
     display: flex;
     align-items: center;
 }
 
 .items {
     font-weight: 600;
     padding: 0px 30px;
     color: white;
     cursor: pointer;
     font-size: 18px;
 }
 
 .items {
     color: #ffffff;
     position: relative;
     font-size: 16px;
 }
 
 a {
     text-decoration: none;
 }
 
 .items::before {
     height: 2px;
     content: "";
     position: absolute;
     background-color: #ffffff;
     border-radius: 20px;
 }
 
 .items::before {
     width: 0%;
     top: 30px;
 }
 
 .items:nth-child(5):hover:before {
     width: 100px;
     background-color: aqua;
 }
 
 .items:nth-child(4):hover:before {
     width: 10px;
 }
 
 .items:nth-child(3):hover:before {
     width: 170px;
 }
 
 .items:nth-child(2):hover:before {
     width: 150px;
 }
 
 .items:nth-child(1):hover:before {
     background-color: aqua;
     width: 60px;
 }