* {
    margin: 0;
    /* height: 100%; */
    font-family: IranSans;
}

@font-face {
    font-family: Btitr;
    src: url("./Fonts/BTitrBd.ttf") format("truetype");
}

@font-face {
    font-family: BKoodak;
    src: url("./Fonts/BKoodkBd.ttf") format("truetype");
}

@font-face {
    font-family: IranSans;
    src: url("./Fonts/FontsFree-Net-ir_sans.ttf") format("truetype");
}